extends layout

block title
  title TwitCoin

block topScripts
  - if(req.session.twitterScreenName)
    script
      window.session = {username:'!{req.session.twitterScreenName}'}
  script(data-main="/app/main",src="/libs/require/require.js")

block style
  - if (config.debug)
    link(rel="stylesheet",href='/css/DroidSans.css')
  - else
    link(rel="stylesheet",href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700')
  link(rel="stylesheet",href="css/all.css")

block content
  header
    div#logbox.f-right.clearfix
      - if (req.session.twitterScreenName)
        span.welcome Welcome, !{req.session.twitterScreenName}
        a(href="/twitter/logout") logout
      - else
        div
          a(href="/twitter/auth")
            img(src="/img/sign-in-with-twitter-l.png")
  div#app-wrapper

block scripts