extends layout

block content
  div hello !{req.session.twitterScreenName || "visitor"}
  - if(!req.session.masteroauthAccessTokenSecret)
    div
      a(href="/twitter/setmaster") please set master account
  - else
    - if(!req.session.twitterScreenName)
      a(href="/twitter/auth") login
    - else
      div
        a(href="/twitter/logout") logout
      div
        a(href="/twitter/grant") grant 1000
      div
        label to:
        input(id="to",type="text",name="to")
      div
        label amount:
        input(id="amount",type="text",name="amount")
      div
        input(type="button",value="send",onclick="send()")



 
