extends layout

block title
  title TwitCoin

block topScripts
  script(data-main="/app/main",src="/libs/require/require.js")

block style
  link(rel="stylesheet",href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700')
  link(rel="stylesheet",href="css/all.css")

block content
  - if (req.session.twitterScreenName)
    header logged in as:
      span !{req.session.twitterScreenName}
      a(href="/twitter/logout") logout
  - else
    div
      a(href="/twitter/connect") twitter-connect
    div
      a(href="/twitter/auth")
        img(src="/img/sign-in-with-twitter-l.png")
  div#app-wrapper

block scripts